
.c1{
    max-width: 600px;
    margin: 20px;
    
  }
  .task {
    border: 1px solid #cccccc;
    padding: 25px;
    margin-bottom: 25px;
    border: 2px solid black;
  }
  .subtask {
    margin-top: 5px;
  }
  button {
    margin-left: 5px;
    border-radius: 5px;
  }
  